.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 2em;
}

.Wallet {
  background-color: black;
  font-size: 2em;
  color: gold;
  text-align: center;
  font-weight: bold;
}
#addPainting {
	font-size: 12px;
	font-family: sans-serif;
}

.canvas-test {
	width: 450px;
	height: 450px;

}
