.navbar-brand {
  font-family: 'Monoton', cursive;
  font-size: 2em;
}

.Wallet {
  color: #D00000;
  font-weight: bold;
}
#addPainting {
	font-size: 12px;
	font-family: sans-serif;

}

.canvas-test {
	width: 450px;
	height: 450px;

}